In [209]:
# importing the libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Read CSV and Create empty dataframe

In [210]:
# reading the data

coursera = pd.read_csv('./Coursera.csv')
udacity = pd.read_csv('./Udacity.csv')
udemyCourses = pd.read_csv('./udemy_courses.csv')
udemyBusiness = pd.read_csv('./udemy_business.csv')
udemyITSoftware = pd.read_csv('./udemy_output_All_IT__Software_p1_p626.csv')
udemyTech = pd.read_csv('./udemy_tech.csv')

# getting the shape
print("Shape of coursera reviews", coursera.shape)
print("Shape of udacity reviews", udacity.shape)
print("Shape of udemy business reviews", udemyBusiness.shape)
print("Shape of udemy IT Software reviews", udemyITSoftware.shape)
print("Shape of udemy tech", udemyTech.shape)

Shape of coursera reviews (3522, 7)
Shape of udacity reviews (263, 6)
Shape of udemy business reviews (9970, 7)
Shape of udemy IT Software reviews (22853, 7)
Shape of udemy tech (9964, 7)

In [211]:
# create an Empty DataFrame
# object With column names only
final_df = pd.DataFrame(columns = ['CourseName', 'CourseDescription', 'Competencies', 'DifficultyLevel', 'CourseRating', 'UrlLink'])
print(final_df)

Empty DataFrame
Columns: [CourseName, CourseDescription, Competencies, DifficultyLevel, CourseRating, UrlLink]
Index: []

# View Coursera CSV file

In [212]:
coursera.head(2)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...

In [213]:
coursera.dtypes

Course Name           object
University            object
Difficulty Level      object
Course Rating         object
Course URL            object
Course Description    object
Skills                object
dtype: object

In [214]:
coursera.rename(columns={'Course Name': 'CourseName',
                 'Difficulty Level': 'DifficultyLevel',
                 'Course Rating': 'CourseRating',
                 'Course URL': 'UrlLink',
                 'Course Description': 'CourseDescription',
                 'Skills': 'Competencies', }, inplace=True)
coursera=coursera.drop(['University'], axis=1)

In [215]:
final_df = pd.concat([final_df, coursera])
final_df.reset_index(inplace=True, drop=True)

In [216]:
print("Length of final df is: ", len(final_df), " rows")

Length of final df is:  3522  rows

# View Udacity CSV file

In [217]:
udacity.head(2)

,Name,School,Difficulty Level,Rating,Link,About
0,Data Engineer,School of Data Science,Intermediate,4.6,https://www.udacity.com//course/data-engineer-...,Data Engineering is the foundation for the new...
1,Data Scientist,School of Data Science,Advanced,4.7,https://www.udacity.com//course/data-scientist...,"Build effective machine learning models, run d..."

In [218]:
udacity['Link'] = [f"{x.replace('https://www.udacity.com//course', 'https://www.udacity.com/course')}" for x in udacity['Link']]
udacity.head(2)

,Name,School,Difficulty Level,Rating,Link,About
0,Data Engineer,School of Data Science,Intermediate,4.6,https://www.udacity.com/course/data-engineer-n...,Data Engineering is the foundation for the new...
1,Data Scientist,School of Data Science,Advanced,4.7,https://www.udacity.com/course/data-scientist-...,"Build effective machine learning models, run d..."

In [219]:
udacity.dtypes

Name                object
School              object
Difficulty Level    object
Rating              object
Link                object
About               object
dtype: object

In [220]:
udacity.rename(columns={'Name': 'CourseName',
                 'Difficulty Level': 'DifficultyLevel',
                 'Rating': 'CourseRating',
                 'Link': 'UrlLink',
                 'About': 'CourseDescription'}, inplace=True)
udacity=udacity.drop('School', axis=1)
udacity['Competencies'] = ''
udacity.head(2)

,CourseName,DifficultyLevel,CourseRating,UrlLink,CourseDescription
0,Data Engineer,Intermediate,4.6,https://www.udacity.com/course/data-engineer-n...,Data Engineering is the foundation for the new...
1,Data Scientist,Advanced,4.7,https://www.udacity.com/course/data-scientist-...,"Build effective machine learning models, run d..."

In [221]:
final_df = pd.concat([final_df, udacity])
final_df.reset_index(inplace=True, drop=True)

In [222]:
final_df.head(2)

,CourseName,CourseDescription,Competencies,DifficultyLevel,CourseRating,UrlLink
0,Write A Feature Length Screenplay For Film Or ...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...
1,Business Strategy: Business Model Canvas Analy...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...

In [223]:
print("Length of final df is: ", len(final_df), " rows")

Length of final df is:  3785  rows

# Udemy CSV

In [224]:
# create an Empty DataFrame
# object With column names only
udemyDf = pd.DataFrame(columns = ['CourseName', 'CourseDescription', 'Competencies', 'DifficultyLevel', 'CourseRating', 'UrlLink'])
print(udemyDf)

Empty DataFrame
Columns: [CourseName, CourseDescription, Competencies, DifficultyLevel, CourseRating, UrlLink]
Index: []

### View Udemy Business CSV file

In [225]:
udemyBusiness.head(2)

,index,Title,Summary,Enrollment,Stars,Rating,Link
0,0,The Complete SQL Bootcamp 2020: Go from Zero t...,Become an expert at SQL!,301243,4.7,79919,https://www.udemy.com/course/the-complete-sql-...
1,1,Tableau 2020 A-Z: Hands-On Tableau Training fo...,Learn Tableau 2020 for data science step by st...,211674,4.6,55582,https://www.udemy.com/course/tableau10/

In [226]:
udemyBusiness.rename(columns={'Title': 'CourseName',
                 'Stars': 'CourseRating',
                 'Link': 'UrlLink',
                 'Summary': 'CourseDescription' }, inplace=True)
udemyBusiness=udemyBusiness.drop(['index', 'Enrollment','Rating'], axis=1)
udemyBusiness['Competencies'] = ''
udemyBusiness['DifficultyLevel'] = ''

In [227]:
udemyDf = pd.concat([udemyDf, udemyBusiness])
udemyDf.reset_index(inplace=True, drop=True)

In [228]:
udemyDf

,CourseName,CourseDescription,Competencies,DifficultyLevel,CourseRating,UrlLink
0,The Complete SQL Bootcamp 2020: Go from Zero t...,Become an expert at SQL!,NaN,NaN,4.7,https://www.udemy.com/course/the-complete-sql-...
1,Tableau 2020 A-Z: Hands-On Tableau Training fo...,Learn Tableau 2020 for data science step by st...,NaN,NaN,4.6,https://www.udemy.com/course/tableau10/
2,PMP Exam Prep Seminar - PMBOK Guide 6,PMP Exam Prep Seminar - Earn 35 PDUs by comple...,NaN,NaN,4.6,https://www.udemy.com/course/pmp-pmbok6-35-pdus/
3,The Complete Financial Analyst Course 2020,"Excel, Accounting, Financial Statement Analysi...",NaN,NaN,4.5,https://www.udemy.com/course/the-complete-fina...
4,An Entire MBA in 1 Course:Award Winning Busine...,** #1 Best Selling Business Course! ** Everyth...,NaN,NaN,4.5,https://www.udemy.com/course/an-entire-mba-in-...
...,...,...,...,...,...,...
9965,Business Basics for Professional Entrepreneurs,Switch Your Thinking from Employee to Entrepre...,NaN,NaN,5.0,https://www.udemy.com/course/what-everybody-ou...
9966,How to Trend on Skillshare without Followers,Step by Step Guide how anyone can trend and be...,NaN,NaN,5.0,https://www.udemy.com/course/how-to-trend-on-s...
9967,Betting Basics - How to become profitable on s...,Learn the basics of sportsbetting and how you ...,NaN,NaN,5.0,https://www.udemy.com/course/betting-basics/
9968,Level 1 2014 CFA® Program – Corporate Finance,Level 1 2014 CFA® Program [Jun and Dec 2014 Ex...,NaN,NaN,4.3,https://www.udemy.com/course/level-1-2014-cfa-...
9969,Storytelling In Business,"See How Stories can Improve Presentations, Mee...",NaN,NaN,3.3,https://www.udemy.com/course/storytelling-in-b...

In [229]:
print("Length of Udemy df is: ", len(udemyDf), " rows")

Length of final df is:  9970  rows

### View Udemy Tech CSV file

In [131]:
udemyTech.head(2)

,index,Title,Summary,Enrollment,Stars,Rating,Link
0,0,2020 Complete Python Bootcamp: From Zero to He...,Learn Python like a Professional! Start from t...,1100093,4.6,318066,https://www.udemy.com/course/complete-python-b...
1,1,The Web Developer Bootcamp,The only course you need to learn web developm...,596726,4.6,182997,https://www.udemy.com/course/the-web-developer...

In [132]:
udemyTech.rename(columns={'Title': 'CourseName',
                 'Stars': 'CourseRating',
                 'Link': 'UrlLink',
                 'Summary': 'CourseDescription' }, inplace=True)
udemyTech=udemyTech.drop(['index', 'Enrollment','Rating'], axis=1)

### View Udemy IT Software CSV file

In [135]:
udemyITSoftware.head(2)

,id,title,url,num_subscribers,avg_rating,avg_rating_recent,rating
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,295509,4.66019,4.67874,4.67874
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,209070,4.58956,4.60015,4.60015

In [136]:
udemyITSoftware['url'] = [f"{x.replace('/course', 'https://www.udemy.com/course')}" for x in udemyITSoftware['url']]
udemyITSoftware.head(2)

,id,title,url,num_subscribers,avg_rating,avg_rating_recent,rating
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,https://www.udemy.com/course/the-complete-sql-...,295509,4.66019,4.67874,4.67874
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,https://www.udemy.com/course/tableau10/,209070,4.58956,4.60015,4.60015

In [137]:
udemyITSoftware.rename(columns={'title': 'CourseName',
                 'rating': 'CourseRating',
                 'url': 'UrlLink' }, inplace=True)
udemyITSoftware=udemyITSoftware.drop(['id', 'num_subscribers','avg_rating', 'avg_rating_recent'], axis=1)

In [138]:
resultITSoftware = pd.merge(udemyITSoftware, udemyCourses, how="outer", on=["UrlLink"])

In [139]:
print("udemyCourses ", len(udemyCourses))
print("udemyITSoftware ", len(udemyITSoftware))
print("result ", len(resultITSoftware))
resultITSoftware

udemyCourses  3678
udemyITSoftware  22853
result  25684

,CourseName_x,UrlLink,CourseRating,CourseName_y,Difficulty Level,Competencies
0,The Complete SQL Bootcamp 2020: Go from Zero t...,https://www.udemy.com/course/the-complete-sql-...,4.67874,NaN,NaN,NaN
1,Tableau 2020 A-Z: Hands-On Tableau Training fo...,https://www.udemy.com/course/tableau10/,4.60015,NaN,NaN,NaN
2,PMP Exam Prep Seminar - PMBOK Guide 6,https://www.udemy.com/course/pmp-pmbok6-35-pdus/,4.59326,NaN,NaN,NaN
3,The Complete Financial Analyst Course 2020,https://www.udemy.com/course/the-complete-fina...,4.53772,The Complete Financial Analyst Course 2017,All Levels,Business Finance
4,An Entire MBA in 1 Course:Award Winning Busine...,https://www.udemy.com/course/an-entire-mba-in-...,4.47173,NaN,NaN,NaN
...,...,...,...,...,...,...
25679,NaN,https://www.udemy.com/course/easy-jquery-for-b...,NaN,Learn jQuery from Scratch - Master of JavaScri...,All Levels,Web Development
25680,NaN,https://www.udemy.com/course/how-to-make-a-wor...,NaN,How To Design A WordPress Website With No Codi...,Beginner Level,Web Development
25681,NaN,https://www.udemy.com/course/learn-and-build-u...,NaN,Learn and Build using Polymer,All Levels,Web Development
25682,NaN,https://www.udemy.com/course/css-animations-cr...,NaN,CSS Animations: Create Amazing Effects on Your...,All Levels,Web Development
25683,NaN,https://www.udemy.com/course/using-modx-cms-to...,NaN,Using MODX CMS to Build Websites: A Beginner's...,Beginner Level,Web Development

# View Udemy View

In [156]:
udemyCourses.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance

In [157]:
udemyCourses['url'] = [f"{x.replace('https://www.udemy.com', 'https://www.udemy.com/course')}" for x in udemyCourses['url']]
udemyCourses.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/course/ultimate-investme...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/course/goods-and-service...,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance

In [158]:
udemyCourses.rename(columns={'course_title': 'CourseName',
                 'url': 'UrlLink',
                 'subject': 'Competencies',
                 'level': 'Difficulty Level'}, inplace=True)
udemyCourses=udemyCourses.drop(['course_id', 'is_paid', 'price', 'num_subscribers','num_reviews','num_lectures','content_duration','published_timestamp'], axis=1)

In [159]:
udemyCourses.dtypes

CourseName          object
UrlLink             object
Difficulty Level    object
Competencies        object
dtype: object